@charset "utf-8";

SPAN.badge>A {
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
}

LABEL {
	text-transform: capitalize;
}

HR {
	clear: both;
	visibility: hidden;
	margin: 0;
}

TABLE {
	width: auto;
}

DIV.dataSheet {
	margin: 1em 4em;
}

IMG {
	border-width: 0;
	margin: 0;
}

HEADER {
	background-color: #2f5369;
	color: #fff;
}

HEADER A {
	color:inherit;
}

SECTION {
	padding: 1em;
}

SECTION.flat * {
	display: inline-block;
	font-size: 1em;
	margin: 0;
	Padding: 0;
}

SECTION.flat LI,SECTION.flat H1 {
	margin: 0 .5em;
}

P {
	margin: 1em 0.5em;
}

SMALL,SMALL A {
	color: #B4B09C;
	font-size: 1em;
}

CITE {
	color: #999;
}

UL,OL {
	list-style-position: outside;
	margin: .5em .5em .5em 1.5em;
	padding: 0
}

.clearing {
	clear: both;
}

.thumbnail,.bigthumbnail {
	display: block;
	margin: 0 auto;
	border-color: #eee;
	border-width: 1px 0;
	border-style: solid;
	text-align: center;
	background-image: url('/skin/images/bg.gif');
	background-color: #EEE;
	margin-bottom: 1em;
}

.thumbnail {
	width: 257px;
	height: 152px;
}

.bigthumbnail {
	width: 375px;
	height: 240px;
}

.thumbnail img,.bigthumbnail img {
	display: block;
	margin: auto;
	background-image: url('/skin/images/wait.gif');
	background-repeat: no-repeat;
}

.thumbnail img {
	width: 202px;
}

.bigthumbnail img {
	width: 320px;
}

DIV.card DIV.photo {
	float: left;
	margin: 0 1em;
	border: 3px solid #C5C5C5;
}

DD {
	margin: .3em .6em;
	padding: .3em;
}

.yui-ac {
	position: relative;
}

.yui-ac DIV {
	margin: 0;
	padding: 0;
}

.yui-ac-container {
	position: absolute;
}

.yui-ac-content {
	border: 1px solid #000;
	background: #fff;
	color: #555555;
	overflow: hidden;
	z-index: 9050;
}

.yui-ac-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.yui-ac-content li {
	margin: 0;
	padding: .3em .6em;
	cursor: default;
	white-space: nowrap;
	list-style-image: none;
}

.yui-ac-content li.yui-ac-highlight {
	background: #99FFFF;
}

#loginDoc {
	width: 500px;
	margin: auto
}

#loginDoc FORM {
	background-image: url(/skin/images/vostok.gif);
	background-position: top center;
	background-repeat: no-repeat;
	width: 500px;
	margin: auto;
	padding: 180px 50px 0 50px;
}

#loginDoc FOOTER {
	margin: 20px auto 10px auto;
	width: 400px;
	background-image: url(/skin/images/gagarinecasque.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-left: 90px;
	border-width: 1px 0;
	border-style: dotted;
	border-color: #999
}

#societyDoc DIV.thumbnail {
	float: left;
	margin: 0 10px 10px 0;
}