@charset "utf-8";

NAV.navbar {
	margin-bottom:0;
}

SPAN.badge>A {
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
}

LABEL {
	text-transform: capitalize;
}

H1 SMALL SPAN.glyphicon, H2 SMALL SPAN.glyphicon {
	color:#ccc;
}
H1 SMALL SPAN.glyphicon:hover, H2 SMALL SPAN.glyphicon:hover {
	color:#999;
}

HR {
	clear: both;
	visibility: hidden;
	margin: 0;
}

TABLE {
	width: auto;
}

IMG {
	border-width: 0;
	margin: 0;
}

HEADER {
	background-color: #2f5369;
	color: #fff;
}

HEADER A {
	color:inherit;
}


SECTION {
	margin: .8em 1em;
}

SECTION.flat * {
	display: inline-block;
	font-size: 1em;
	margin: 0;
	Padding: 0;
}

DIV.card DIV.photo {
	float: left;
	margin: 0 1em;
	border: 3px solid #C5C5C5;
}

DD {
	margin: .3em .6em;
	padding: .3em;
}

.yui-ac {
	position: relative;
}

.yui-ac DIV {
	margin: 0;
	padding: 0;
}

.yui-ac-container {
	position: absolute;
}

.yui-ac-content {
	border: 1px solid #000;
	background: #fff;
	color: #555555;
	overflow: hidden;
	z-index: 9050;
}

.yui-ac-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.yui-ac-content li {
	margin: 0;
	padding: .3em .6em;
	cursor: default;
	white-space: nowrap;
	list-style-image: none;
}

.yui-ac-content li.yui-ac-highlight {
	background: #99FFFF;
}

#loginDoc {
	width: 500px;
	margin: auto
}

#loginDoc FORM {
	background-image: url(/skin/images/vostok.gif);
	background-position: top center;
	background-repeat: no-repeat;
	width: 500px;
	margin: auto;
	padding: 180px 50px 0 50px;
}

#loginDoc FOOTER {
	margin: 20px auto 10px auto;
	width: 400px;
	background-image: url(/skin/images/gagarinecasque.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-left: 90px;
	border-width: 1px 0;
	border-style: dotted;
	border-color: #999
}

#societyDoc DIV.thumbnail {
	float: left;
	margin: 0 10px 10px 0;
}