@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('theme.css');

/* Jquery UI */
.ui-widget {
	font-family: inherit;
	font-size: 1em;
}
.ui-widget-content {
	background: #fff;
}
.ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-focus em {
	background-color: #8ea4bc;
	background-image: none;
	color: #fff;
	border: none;
}
.ui-widget-content .ui-state-focus small {
	color: #fff;
}

/* Bootstrap */

.badge-info {
	color: #fff;
	background-color: #777;
}

.tab-content {
	padding:1em;
}
.navbar-brand {
	color:#da8055 !important;
	font-family: "Sigmar one";
}
.nav-item A, .badge A {
	color:inherit;
}
.card {
	margin-bottom: 20px;
}

/* Masonry */
.masonryGutterSizer {
	width: 20px;
	height:20px;
}

/* Balises HTML */
BODY {
	background-image: url("./images/bg.gif");
}
SECTION {
	padding:1.1em 0.6em;
}
P {
	margin : 1em 0;
}
HR {
	clear: both;
	visibility: hidden;
	margin: 0;
}
TABLE {
	width: auto;
}
IMG {
	border-width: 0;
	margin: 0;
}
HEADER {
	background-color: #2f5369;
	color: #fff;
}
HEADER A {
	color: inherit;
}
DIV.card DIV.photo {
	float: left;
	margin: 0 1em;
	border: 3px solid #C5C5C5;
}
DD {
	margin: .3em .6em;
	padding: .3em;
}
A.implicit, H1 A, H2 A, H3 A, H4 A, H5 A, H6 A {
	color: inherit;
}
SMALL {
	font-size : 1em;
	color : #bbb;
}
.bd-title {
	padding: 1rem 0;
	margin: 0;
    font-weight: 300;
}

H1 SMALL, H2 SMALL, H3 SMALL, H4 SMALL {
	font-size: .6em;
}
SMALL A I {
	color:#bbb;
}
/* autres styles génériques */
.container-fluid, .container {
	background-color: #fff;
}
/* autres styles génériques */
.brand {
	font-family: 'Sigmar one';
	color: #da8055;
}
.brand SMALL {
	font-family: 'Open Sans';
}
.tag {
	display:inline-block;
	text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	padding:.2em .6em .3em;
	font-weight: normal;
	font-size:100%;
}
.tag >A {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.seeMore {
	text-align:right;
	margin: 1em 0;
}
.seeMore A {
	vertical-align: middle;
}
.seeMore A::hover {
	text-decoration: none;
}
.seeMore I {
	font-size: 1.2em;
	vertical-align: middle;
	color: #ccc;
}
.missing-thumbnail {
	background-color:#eee; 
}

/* styles spécifiques à un écran */
#loginDoc {
	background-image: url("./images/bg.gif");
}
#loginDoc div.container {
	max-width: 450px;
	background-color: #fff;
}
#loginDoc FORM {
	background-image: url("./images/vostok.gif");
	background-position: top center;
	background-repeat: no-repeat;
	margin: auto;
	padding: 180px 0 0 0;
}
#loginDoc FOOTER {
	margin: 20px auto 10px auto;
	background-image: url("./images/gagarinecasque.gif");
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-left: 90px;
	border-width: 1px 0;
	border-style: dotted;
	border-color: #999
}

@media ( min-width : 768px) {
	.card {
		width: 340px;
	}
}

@media ( min-width : 992px) {
	#indexDoc .card {
		width: 370px;
	}
}

@media ( min-width : 1200px) {
	#indexDoc .card {
		width: 300px;
	}
}

/* EID screen 1 */
@media (min-width : 1349px) {
	#indexDoc .card {
		width: 345px;
	}
	#societyDoc .card {
		width: 300px;
	}
	#individualDoc .card {
		width: 310px;
	}
}

@media (min-width : 1520px) {
	#indexDoc .card {
		width: 288px;
	}
}

@media ( min-width : 1600px) {
	#indexDoc .card {
		width: 290px;
	}
	.container, .container-fluid {
		max-width:95%;
		padding-left:2.5%;
		padding-right:2.5%;
	}
}

/* EID screen 2 */
@media ( min-width : 1920px) {
	#indexDoc .card {
		width: 320px;
	}
	#societyDoc .card {
		width: 350px;
	}
	#individualDoc .card {
		width: 450px;
	}
}
