@charset "utf-8";
/*
Mise en forme basique pour un flux RSS
modèle d'origine : http://www.w3.org/2000/08/w3c-synd/style.css
*/
rss, channel, item, title, description, link{
	display: block;
	font-family : Verdana, sans-serif;
	font-weight: normal;
	font-size: 10px;}

language, publisher, creator, subject, updatePeriod, updateFrequency, updateBase {
	display: none;}
	
channel {
	width:100%;
	background-color:#FFFFFF}

item {
	z-index:1; 
	border:2px solid #CCCCCC; 
	padding:5px;
	width:95%;
	margin-top:3px;}

RDF {
	max-width:50em;
	min-width:12em;
	display:block;
	margin-right:0;
	margin-left:0;
	padding-right:2%;
	padding-left:2%;}

channel>title {
	background-color:#80BEF3;
	color:#FFFFFF;
	font-size: 24px;
	font-weight: normal;	
	padding-left:3px;
	padding-right:3px;
	width:100%;
	white-space:nowrap;
	border-color:#000000;
	border-style:solid;
	border-width: 0px 0px 1px 0px;
	padding:0px;}

channel>description {
	font-family: inherit;
	font-size:1.2em;}

item>title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1068AF;
	font-weight: bold;
	text-align:left;
	margin-top:5px;
	margin-bottom:3px;}
item>description {
	margin: 4px 0px 4px 0px;
}
date {
	margin-left: 1em;}
link {color:#888888;}