$primary: #da8055;
$secondary: #7d6f6c;
$tertiary: #678568;

$white: #fff;
$gray-100: #f2f3f2;
$gray-200: #efeae9;
$gray-300: #eceeec;
$gray-400: #d2d5d2;
$gray-500: #b2b8b2;
$gray-600: #717a71;
$gray-700: #4c524c;
$gray-800: #3d383d;
$gray-900: #0c0d0c;
$black: #000;