$white:    #fff !default;
$gray-100: #faf8f8 !default;
$gray-200: #efeae9 !default;
$gray-300: #e6e0de !default;
$gray-400: #dad1ce !default;
$gray-500: #bdb0ad !default;
$gray-600: #7d6f6c !default;
$gray-700: #574c49 !default;
$gray-800: #403734 !default;
$gray-900: #292321 !default;
$black:    #000 !default;

$bg: $gray-300;

$brand-font-family : "Sigmar One";
$common-font-family : "Open Sans";
$headings-font-family: "Oswald";
$btn-font-family: "Oswald";
$btn-font-size: 1.1rem;

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "customisable";
@import "../vendor/twbs/bootstrap/scss/bootstrap";

.ui-widget {
	font-family: inherit;
	font-size: 1em;
}

.ui-widget-content {
	background: $white;
}

.ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-focus em {
	background-color: $secondary;
	background-image: none;
	color: $white;
	border: none;
}

.ui-widget-content .ui-state-focus small {
	color: $white;
}

.badge-info {
	color: $white;
	background-color: $gray-600;
}

.tab-content {
	padding: 1em;
}

.navbar-brand, .brand {
	color: $primary !important;
	font-family: $brand-font-family;
	
	SMALL {
		color:$gray-200;
		font-family: $common-font-family;
	}
}

.nav-item {
	font-family: $btn-font-family;
}

.nav-item A, .badge A {
	color: inherit;
}

.card {
	margin-bottom: 20px;
	width:100%;
}

.card-img-top-wrapper {
	background-color: $gray-600;
}

.card-img-top {
	mix-blend-mode: screen;
}

.container-fluid, .container {
	background-color: $white;
	padding: 20px 30px;
}

.container-fluid>H1, .container>H1 {
	padding-top: 0;
	margin-top: 0;
}

.masonryGutterSizer {
	width: 20px;
	height: 20px;
}

SMALL {
	font-size: inherit;
	color:$gray-600
}

I {
	color: $secondary;
}

I.colored {
	color: $primary;
}

.btn I {
	color:inherit;
}

BUTTON SMALL, A.btn SMALL {
	font-size: 1em !important;
	color:inherit;
	opacity: .4;
}

BODY {
	background-color: $bg;
	background-image: url('./images/bg.svg');
}

H1 {
	font-size:2.2rem;
}

H2 {
	color:$gray-800;
	font-size:1.8rem;
}

H3 {
	color:$gray-700;
	font-size:1.4rem;	
}

SECTION {
	padding: 1.1em 0.6em;
}

P {
	margin: 1em 0;
}

HR {
	clear: both;
	visibility: hidden;
	margin: 0;
}

TABLE {
	width: auto;
}

IMG {
	border-width: 0;
	margin: 0;
}

A.implicit, H1 A, H2 A, H3 A, H4 A, H5 A, H6 A {
	color: inherit;
}

.bd-title {
	padding: 1rem 0;
	margin: 0;
	font-weight: 300;
}

H1 SMALL, H2 SMALL, H3 SMALL, H4 SMALL {
	font-size: .8em;
}

SMALL A I {
	color:$gray-500;
}

/* autres styles génériques */
.brand {
	font-family: $brand-font-family;
	color: $primary;
}

.brand SMALL {
	font-family: $common-font-family;
}

.il-legend {
	display:block;
	font-size:1.1rem;
	font-weight:bold;
	color: $gray-500;
	padding: 1rem 0 1.2rem 0;
}

.il-legend A {
	color: inherit;
}

DIV.individual-description-area, DIV.membership-description-area {
	white-space: pre-wrap;
	margin: 1em 0
}

DIV.card-body {
	DIV.membership-description-area {
		color: $gray-600;
		
		SPAN.more {
			display: none;
		}
	}
}

.missing-thumbnail {
	background-color: $gray-300;
}

#loginDoc {
	div.container {
		max-width: 496px;
		background-color: $white;
	}
	
	FORM {
		background-image: url("./images/vostok.gif");
		background-position: top center;
		background-repeat: no-repeat;
		margin: auto;
		padding: 180px 0 0 0;
	}
	
	FOOTER {
		margin: 20px auto 10px auto;
		background-image: url("./images/gagarinecasque.gif");
		background-position: bottom left;
		background-repeat: no-repeat;
		padding-left: 90px;
		border-width: 1px 0;
		border-style: dotted;
		border-color: $gray-600
	}
}

@media ( min-width : 768px) {
	.container, .container-fluid {
		max-width: 768px;
	}
	
	#indexDoc {
		.card {
			width: 344px;
		}
	}
}

@media ( min-width : 992px) {
	.container, .container-fluid {
		max-width: 988px;
	}
	
	#indexDoc {
		.card {
			width: 296px;
		}
	}
}

@media ( min-width : 1200px) {
	.container, .container-fluid {
		max-width: 1200px;
	}
	
	#indexDoc {
		.card {
			width: 270px;
		}
	}
	
	#societyDoc {
		.card {
			width: 356px;
		}
	}
	#societyIndividualTransferDoc {
		.card {
			width: 257px;
		}
	}
}

@media ( min-width : 1359px) {
	.container, .container-fluid {
		max-width: 1348px;
	}

	#indexDoc {
		.card {
			width: 307px;
		}
	}
	
	#societyDoc {
		.card {
			width: 298px;
		}
	}

	#societyIndividualTransferDoc {
		.card {
			width: 294px;
		}
	}
}

@media ( min-width : 1600px) {
	.container, .container-fluid {
		max-width: 1580px;
	}
	
	#indexDoc {
		.card {
			width: 288px;
		}
	}
	
	#societyDoc {
		.card {
			width: 357px;
		}
	}
	#societyIndividualTransferDoc {
		.card {
			width: 228px;
		}
	}
}

@media ( min-width : 1920px) {
	.container, .container-fluid {
		max-width: 1900px;
	}

	#indexDoc {
		.card {
			width: 290px;
		}
	}
	
	#societyDoc {
		.card {
			width: 345px;
		}
	}
	
	#individualDoc {
		.card {
			width: 450px;
		}
	}
}