@use "sass:color";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "swatch";

$card-cap-bg : $secondary;
$card-border-color : $gray-300;

$link-color:$primary;
//$link-hover-color:$gray-600;

$brand-font-family : "Sigmar One";
$common-font-family : "Open Sans";
$headings-font-family: "Oswald";
$btn-font-family: "Oswald";
$btn-font-size: 1.1rem;

@import "../vendor/twbs/bootstrap/scss/bootstrap";

BODY {

	background-color: $gray-300;
	font-family:$common-font-family;
	
	>.container-fluid, >.container {
		background-color: $white;
		box-shadow: 0 0 2rem $gray-400;
		padding: 1rem 2rem;
		
		H1 {
			padding-top: 0;
			margin-top: 0;
		}
	}
}

H1 {
	font-size:2rem;
}

H2 {
	color:$gray-800;
	font-size:1.8rem;
}

H3 {
	color:$gray-700;
	font-size:1.4rem;	
}

H4 {
	color:$gray-600;
	font-size:1.2rem;	
}

SECTION {
	padding: 1.1em 0.6em;
}

P {
	margin: 1em 0;
}

TABLE {
	width: auto;
}

IMG {
	border-width: 0;
	margin: 0;
}

FORM FIELDSET LEGEND {
	font-family:$headings-font-family;
	color:$tertiary;
	font-size:1.2em;		
}

A.implicit, H1 A, H2 A, H3 A, H4 A, H5 A, H6 A {
	color: inherit;
	
	:hover{
		color: $primary;
	}
}

.badge-info {
	color: $white;
	background-color: $tertiary;
}

.tab-content {
	padding: 1em;
}

.navbar-brand, .brand {
	color: $primary !important;
	font-family: $brand-font-family;
	
	SMALL {
		color:$gray-200;
		font-family: $common-font-family;
	}
}

.nav-item {
	font-family: $btn-font-family;
}

.nav-item A, .badge A {
	color: inherit;
}

.masonryGutterSizer {
	width: 20px;
	height: 20px;
}

SMALL {
	font-size: inherit;
	color:$gray-600
}

I {
	color:$secondary;
}

I.colored {
	color: $primary;
}

.btn I {
	color:inherit;
}

BUTTON SMALL, A.btn SMALL {
	font-size: 1em !important;
	color:inherit;
	opacity: .4;
}

.bd-title {
	padding: 1rem 0;
	margin: 0;
}

H1 SMALL, H2 SMALL, H3 SMALL, H4 SMALL {
	font-size: .8em;
}

SMALL A I {
	color:$gray-500;
}

/* autres styles génériques */
.brand {
	font-family: $brand-font-family;
	color: $primary;
}

.brand SMALL {
	font-family: $common-font-family;
}

.il-legend {
	display:block;
	font-size:1.1rem;
	font-weight:bold;
	color: $gray-500;
	padding: 1rem 0 1.2rem 0;
}

.il-legend A {
	color: inherit;
}

DIV.individual-description-area, DIV.membership-description-area {
	white-space: pre-wrap;
	margin: 1em 0
}

.card {
	margin-bottom: 20px;
	width:100%;
}

.card-img-top-wrapper {
	filter:saturate(0.6);
	background : linear-gradient(135deg, $white 5%, $gray-600 10%, $primary 80%);	
}

.card-img-top {
	mix-blend-mode: screen;
}

.card-header {
	font-family:$headings-font-family;
	color:$white;
}

.card-body {
	DIV.membership-description-area {
		color: $gray-600;
		
		SPAN.more {
			display: none;
		}
	}
}

.card-body {
	DIV.membership-description-area {
		color: $gray-600;
		
		SPAN.more {
			display: none;
		}
	}
}

.missing-thumbnail {
	background-color: $gray-300;
}

#loginDoc {
	.container {
		max-width: 560px;
	}
	
	FORM {
		background-image: url("./images/login.png");
		background-color: $gray-100;
		background-blend-mode:darken;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: auto;
		padding: 200px 1.5rem .75rem 1.5rem;
	}
	
	FIGURE {
		background-image: url("./images/gagarinecasque.gif");
		background-position: top center;
		background-repeat: no-repeat;
		border-width: 1px 0;
		border-style: dotted;
		border-color: $gray-600;	
		padding: 70px 10px 10px 10px;
		
		Q {
			font-family:$headings-font-family;
			color: $gray-600;			
			font-size: 1em;
		}
	}
}

body.menu {
	.container, .container-fluid {
		margin:auto;
		max-width: 768px;
	}
}

/* Redmi note 11 viewport width : 393 px */
/* Philips home screen viewport width : 1920 px */

@media ( min-width : 1280px) {
	.container, .container-fluid {
		max-width: 1200px;
		padding : 16px 32px;
	}
	
	#indexDoc {
		.card {
			width: 269px;
		}
	}
	
	#societyDoc {
		.card {
			width: 354px;
		}
	}
	#societyIndividualTransferDoc {
		.card {
			width: 257px;
		}
	}
}

@media ( min-width : 1600px) {
	.container, .container-fluid {
		max-width: 1580px;
	}
	
	#loginDoc {
		MAIN {
			margin-top:5%;
		}
	}
	
	#indexDoc {
		.card {
			width: 287px;
		}
	}
	
	#societyDoc {
		.card {
			width: 357px;
		}
	}
	#societyIndividualTransferDoc {
		.card {
			width: 228px;
		}
	}
}

@media ( min-width : 1920px) {
	.container, .container-fluid {
		max-width: 1900px;
	}

	#indexDoc {
		.card {
			width: 289px;
		}
	}
	
	#societyDoc {
		.card {
			width: 351px;
		}
	}
	
	#individualDoc {
		.card {
			width: 450px;
		}
	}
}
